<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"  internalLogLevel="Trace"  internalLogFile="C:\Temp\testNlog\internal-log.txt" >

  <targets>

    <target name="database" xsi:type="Database" keepConnection="true"
            dbProvider="System.Data.SqlClient"
            connectionString="server='sqlclus1';user id='nlog';password='nlog';database='nlog"
             
            commandText="
            INSERT INTO table (source) values @source" >

      <parameter name="@source" layout="${thisIsWrong}" />
    </target>

  </targets>
  <rules>

    <logger name="*" minlevel="Warn" writeTo="database" />


  </rules>
</nlog>