<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogFile="C:\Temp\nlog-1029\internal.txt" internalLogLevel="Debug">
  <targets>
    <!--works when keepFileOpen is set to false-->
    <target name="FileLogger" xsi:type="File" header = "------ Connexion v${assembly-version} ------"
            layout="${longdate} (${threadid}) ${level} [${logger}] ${message} ${exception:format=tostring}"
            fileName="C:\Temp\nlog-1029\ConcurrentFileTargetTest.txt"
            archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" 
            maxArchiveFiles="10" enableArchiveFileCompression="false" 
            concurrentWrites="true" 
            keepFileOpen="true" />
    <target name="ColoredConsole" xsi:type= "ColoredConsole" layout="${longdate} (${threadid}) ${level} [${logger}] ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="FileLogger" />
    <logger name="*" minlevel="Debug" writeTo="ColoredConsole" />
  </rules>
</nlog>
